<div style="text-align:center">
  <h1>
    Basic Assignment 1: using a Warning Alert and a Success Alert.
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <hr>
      <h3>App Component</h3>
      
        <p><input type="text" [(ngModel)]="name"> {{ name }}</p>
        <hr>
        <div>
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
        </div>
        <hr>
        <div ng-controller="AlertCtrl">
          <h5>Testing alerts</h5>
          
        </div>
    </div>
  </div>
</div>
