/* You can add global styles to this file, and also import other style files */
h3 {
    color: chartreuse;
}
h4 {
    color: crimson;
}

.warningLabel {
    color: rgb(0, 102, 255);
    background-color: pink;
    padding: 20px;
}